.about {
  margin-bottom: 63px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1050px;
    margin-bottom: 90px;
  }
}

.about__wrapper {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 176px;
  }
}

.about__title {
  font-size: 25px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include fonts-tablet ();

    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    @include fonts-desktop();
    margin-bottom: 35px;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 18px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 240px auto;
    column-gap: 110px;
  }
}

.about__item {
  font-weight: bold;
  color: $black;
  margin-bottom: 33px;
  flex-basis: 270px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(even) {
    order: 1;
  }

  & p {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    &:nth-child(even) {
      order: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    & p {
      @include fonts-tablet (20px, 22px);
    }
  }
}

.about__icon-1 {
  @include icon (0, 8px, 16px);
}

.about__icon-2 {
  @include icon (6px, 3px, 16px);
}

.about__icon-3 {
  @include icon (0, 0, 24px);
}

.about__icon-4 {
  @include icon (0, -6px, 26px);
}

.about__icon-5 {
  @include icon (5px, 8px, 20px);
}

.about__icon-6 {
  @include icon (2px, 3px, 19px);
}
