.card {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.card__wrapper {
  position: relative;
  padding: 0 30px 42px;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon/zigzag-line.svg");
    height: 6px;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0 50px 68px;
    display: grid;
    grid-template-columns: 44% 1fr;
    grid-template-rows: min-content min-content 1fr min-content min-content;
    column-gap: 42px;

    &::after {
      background-image: url("../img/icon/zigzag-line-tablet.svg");
      height: 17px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1050px;
    padding: 0 0 96px;
    justify-content: end;
    grid-template:
      "title img" 1fr
      "text img"
      "options img"
      "price img"
      "button img"
      / 292px 525px;
    column-gap: 57px;

    &::after {
      background-image: url("../img/icon/zigzag-line-desktop.svg");
      height: 23px;
    }
  }
}

.card__title {
  font-size: 25px;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    @include fonts-tablet();
    margin-bottom: 37px;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    @include fonts-desktop();
    grid-area: 1 / 1 / 2 / -1;
    z-index: 2;
    align-self: flex-end;
    margin-bottom: 36px;
  }
}

.card__promo {
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $downy;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 100px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 0;
    position: absolute;
    top: 5px;
    right: 63px;
  }

  @media (min-width: $desktop-width) {
    top: 70px;
    right: auto;
    left: 31px;
  }
}

.card__promo-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card__text {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 28px;
  max-width: 340px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;

    @include fonts-tablet (17px, 30px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
    grid-area: text;
  }
}

.card__options {
  font-size: 15px;
  margin: 0;
  margin-bottom: 28px;

  & dd {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    grid-area: options;
    margin-bottom: 110px;
  }
}

.card__options-inner {
  display: grid;
  grid-template-columns: 97px 1fr;
  padding-top: 7px;
  padding-bottom: 14px;
  border-bottom: 1px solid $whisper;

  &:first-of-type {
    padding-top: 0;
    padding-bottom: 14px;
  }
}

.card__price {
  margin: 0;
  margin-bottom: 24.5px;
  line-height: 24px;
  font-weight: bold;
  order: 1;
  text-align: center;

  @media (min-width: $tablet-width) {
    order: 0;
    font-size: 20px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-area: price;
    margin-bottom: 32px;
  }
}

.card__button {
  order: 1;

  @media (min-width: $tablet-width) {
    order: 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: button;
  }
}

.card__image-wrapper {
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 334px;
  width: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  @media (min-width: $tablet-width) {
    grid-area: 2 / 2 / -1 / -1;
    margin-top: auto;
    margin-bottom: 0;
    margin-right: 0;
    max-width: 525px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / -1 / -1;
    max-width: 100%;
  }
}
