.catalog {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.catalog__wrapper {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0;
  }
}

.catalog__list {
  @include list ();

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 52px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  & img {
    display: block;
    background-color: $white-smoke;
    max-width: 334px;
    width: 100%;
    margin: 0 auto;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.catalog__container {
  border: 1px solid $whisper;
  padding: 30px 28px 26.5px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 27px 34px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 32px 0 28px;
  }
}

.catalog__title {
  @include fonts-mobile ();

  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
    font-size: 20px;
  }
}

.catalog__desc {
  @include fonts-mobile (13px, 30px);

  margin: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12.5px;
  }
}

.catalog__price {
  @include fonts-mobile (15px, 24px);

  margin: 0;
  padding-top: 22.5px;
  padding-bottom: 25.5px;
  font-weight: bold;
  color: $black;
  position: relative;
  border-top: 1px solid $whisper;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon/cart.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: auto;

    @include fonts-mobile ();
  }
}
