.contacts__wrapper {
  outline: 5px solid rgba(233, 220, 31, 0.367);
  outline-offset: -5px;
}

.contacts__title {
  font-size: 25px;
}

.contacts__list {
  font-size: 14px;
  line-height: 30px;
}

.contacts__email {
  a {
    @include link (none, $goshawk-grey);
    border-bottom: 1px solid $downy-2;
  }
}
