.filters {
  overflow: hidden;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.filters__wrapper {
  padding: 0 30px 15px;

  @media (min-width: $tablet-width) {
    padding: 22px 50px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    margin: 0 auto;
    padding: 22px 175px 0 61px;
    box-sizing: border-box;
  }
}

.filters__checkbox-wrapper {
  @media (min-width: $tablet-width) {
    padding: 67px 0 69px;
    margin: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: $white-smoke;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: $white-smoke;
      width: 100vw;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.filters__fieldset-type {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
    display: grid;
    grid-template-columns: 167px 1fr;
    align-self: baseline;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 114px 1fr;
  }
}

.filters__title-container {
  padding: 0;
  margin-bottom: 35px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    display: contents;
  }
}

.filters__title {
  line-height: 16px;
  font-weight: bold;
  color: $downy;
  display: flex;
  align-items: center;
  align-self: baseline;

  &::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: $downy-2;
    margin-left: 5%;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}

.filters__title span {
  min-width: 44px;
}

.filters__list-radio,
.filters__list-checkbox {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters__list-checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 64px;
    row-gap: 58px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 203px 203px auto;
    column-gap: 60px;
    row-gap: 57px;
  }
}

.filters__item-radio {
  padding-left: 60px;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 78px;

    &:not(:last-of-type) {
      margin-bottom: 58px;
    }
  }

  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 56px;
    }
  }
}

.filters__item-checkbox {
  padding-left: 60px;

  &:not(:last-of-type) {
    margin-bottom: 43px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 82px;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.filters__label-radio,
.filters__label-checkbox {
  @include fonts-tablet (17px, 18px);
  display: block;
  font-weight: bold;
  color: $black;
  position: relative;
  user-select: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include fonts-tablet (19px, 18px);
  }
}

.filters__input-radio + .filters__label-radio::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid $goshawk-grey;
  top: -9px;
  left: -61px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: -76px;
    top: calc((52px - 18px) / -2);
  }
}

.filters__input-radio {
  &:checked + .filters__label-radio::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $downy-2;
    top: 3px;
    left: -49px;

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
      top: -3px;
      left: -61px;
    }
  }
}

.filters__input-checkbox + .filters__label-checkbox::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  border: 2px solid $goshawk-grey;
  top: -9px;
  left: -60px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: -82px;
    top: calc((52px - 18px) / -2);
  }
}

.filters__input-checkbox {
  &:checked + .filters__label-checkbox::after {
    content: "";
    position: absolute;
    background-image: url("../img/tick.svg");
    width: 23px;
    height: 16px;
    top: 0;
    left: -54px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/tick-tablet.svg");
      width: 32px;
      height: 22px;
      left: -72px;
    }
  }
}

.filters__input-radio:focus-visible + .filters__label-radio::before,
.filters__input-checkbox:focus-visible + .filters__label-checkbox::before {
  outline: auto;
  outline-offset: 3px;
}

.filters__input-radio:hover + .filters__label-radio::before,
.filters__input-radio:checked:hover + .filters__label-radio::before,
.filters__input-checkbox:hover + .filters__label-checkbox::before,
.filters__input-checkbox:checked:hover + .filters__label-checkbox::before {
  border-color: $downy-2;
}

.filters__input-radio:checked + .filters__label-radio::before,
.filters__input-checkbox:checked + .filters__label-checkbox::before {
  border-color: rgba($black, 0.3);
}

.filters__input-radio:disabled + .filters__label-radio::before,
.filters__input-checkbox:disabled + .filters__label-checkbox::before {
  border-color: rgba($black, 0.3);
}
