.main-nav {
  font-weight: bold;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav--closed {
  display: none;
}

.main-nav--opened {
  display: block;
}
