.page-footer {
  background-color: $white-smoke;
}

.page-footer__wrapper {
  padding: 25px 30px 23px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 60px);
    height: 1px;
    background-color: $whisper-2;
    top: 50%;
    left: 30p;
  }

  @media (min-width: $tablet-width) {
    padding: 50px 50px 58px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1050px;
  }
}

.page-footer__footer-logo {
  display: none;

  &:hover svg {
    fill: $puerto-rico-2;
  }

  &:active svg {
    opacity: 0.3;;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
