.page-main {
  @media (min-width: $tablet-width) {
    margin-top: -44px;
  }
}

.page-main__title {
  padding: 73.5px 0;
  margin-bottom: 17px;
  text-align: center;
  background-color: $white-smoke;

  @media (min-width: $tablet-width) {
    @include fonts-tablet ();
    margin-bottom: 54px;
    padding: 100px 0 87px;
    position: relative;
    z-index: -2;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon/zigzag-fill-tablet.svg");
      width: 100%;
      height: 24px;
      left: 0;
      bottom: -2px;
    }
  }

  @media (min-width: $desktop-width) {
    @include fonts-desktop ();
    padding-bottom: 115px;
    margin-bottom: 98.5px;

    &::after {
      background-image: url("../img/icon/zigzag-fill-desktop.svg");
      height: 34px;
    }
  }
}

.page-main__catalog {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 111px;
    padding-top: 102px;
    padding-bottom: 113px;
  }
}

.page-main__text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 30px;
  max-width: 350px;

  @include fonts-mobile (13px, 24px);

  @media (min-width: $tablet-width) {
    @include fonts-tablet (17px, 30px);
    margin-bottom: 81px;
    padding: 0 50px;
    max-width: 700px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 79.5px;
  }
}
