.reviews {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1050px;
    margin-bottom: 72px;
  }
}

.reviews__wrapper {
  position: relative;
  padding: 0 30px 50px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/zigzag-line.svg");
    height: 6px;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 83px 50px 132px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzag-line-tablet.svg");
      height: 17px;
      width: 100%;
      left: 0;
      bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/review.jpg");
      background-repeat: no-repeat;
      height: 457px;
      width: 350px;
      top: 0;
      left: 0;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/review@2x.jpg");
        background-size: contain;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 78px 0 185px 174px;

    &::after {
      background-image: url("../img/zigzag-line-desktop.svg");
      height: 23px;
    }
  }
}

.reviews__title {
  font-size: 25px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    @include fonts-tablet ();
    margin-bottom: 40px;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    @include fonts-desktop();
    margin-bottom: 36px;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.reviews__item {
  margin: 0;
  display: none;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__item--activ {
  display: block;
  max-width: 810px;
}

.reviews__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: inherit;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

@media (min-width: 380px) {
  .reviews__text br {
    display: none;
  }
}

.reviews__autor-name {
  margin: 0;
  margin-bottom: 3px;
  line-height: 24px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: inherit;
  }
}

.reviews__autor-email {
  margin: 0;
  line-height: 30px;
}

.reviews__toggles {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 76px;
  box-sizing: border-box;
  margin-bottom: 36px;
  padding: 13px 40px 10px 35px;
  border: 1px solid $whisper;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: $whisper;
    top: 0;
    left: 50%;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 18px;
    bottom: 10px;
    margin-bottom: 0;
    padding: 0;
    column-gap: 37px;
    border: none;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    right: -45px;
    bottom: 11px;
  }
}

.reviews__toggles-button {
  padding: 0;
  border: none;
  background-color: $white;

  &:hover svg {
    opacity: 0.6;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.reviews__write {
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    order: -1;
    align-self: baseline;
    min-width: 175px;
  }
}
