.site-list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 88px auto;
    column-gap: 30px;
    background-color: transparent;
    align-content: flex-end;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 186px auto;
    column-gap: 0;
  }
}

.site-list__link {
  @include link (none, $black);
}

.site-list__item {
  padding: 27px 30px 27px 76px;
  border-top: 1px solid $whisper;

  &:nth-child(3) {
    display: none;
  }

  &:nth-child(4) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    white-space: nowrap;
    grid-row: 2 / -1;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    &:nth-child(3),
    &:nth-child(4) {
      display: block;
    }

    &:first-child {
      border-right: 1px solid rgba($black, 0.1);
    }

    &:first-child,
    &:nth-child(2) {
      margin: 0;
      padding: 32px 0;
      font-size: 17px;
      grid-row: 1 / 2;
    }

    &:nth-child(even) {
      padding-left: 35px;
    }

    &:not(:first-child):not(:nth-child(2)) {
      padding-top: 20px;
    }
  }
}
