.social {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__list {
  list-style: none;
  min-width: 142px;
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__link {
  &:hover svg {
    fill: $puerto-rico-2;
  }

  &:active svg {
    opacity: 0.3;
  }
}
