.species {
  margin-bottom: 32px;
  background-color: $snow;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzag-fill-tablet.svg");
      width: 100%;
      height: 24px;
      left: 0;
      bottom: -12px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;

    &::after {
      background-image: url("../img/zigzag-fill-desktop.svg");
      height: 30px;
    }
  }
}

.species__wrapper {
  box-sizing: border-box;
  padding: 73px 0 0;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -17px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    padding: 156px 50px 0;
    background-image: url("../img/hero-desktop.jpg");
    background-position: 50% 0;

    @media (min-resolution: 2dppx) {
      padding: 154px 50px 0;
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1050px;
    padding: 160px 0 0;
  }
}

.species__title {
  font-size: 27px;
  line-height: 30px;
  color: $black;
  margin: 0;
  margin-bottom: 122px;
  padding: 0 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include fonts-tablet ();
    margin-bottom: 372px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    @include fonts-desktop ();
    margin-bottom: 356px;
  }
}

.species__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.species__item {
  &:first-child {
    background-color: $downy;
  }

  &:last-child {
    background-color: $puerto-rico;
  }

  @media (min-width: $tablet-width) {
    transition: 0.6s;

    &:hover {
      transform: translateY(-5px);
    }

    &:first-child:hover {
      background-color: $downy-3;
    }

    &:last-child:hover {
      background-color: $puerto-rico-2;
    }
  }
}

.species__link {
  display: flex;
  justify-content: space-between;
  padding: 24px 30px 31px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  position: relative;
  transition: 0.6s;


  @include link (none, $white);

  p {
    margin: 0;
  }

  &:hover {
    transform: translateY(-5px);

    & .species__interior-icon,
    & .species__toy-icon {
      opacity: 0.7;
    }
  }

  &:active {
    & .species__interior-icon,
    & .species__toy-icon {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    @include fonts-tablet (20px, 30px);

    padding: 26px 37px 34px;
  }
}

.species__interior-icon {
  position: absolute;
  top: 23px;
  right: 36px;

  @media (min-width: $tablet-width) {
    top: 29px;
    right: 37px;
  }
}

.species__toy-icon {
  position: absolute;
  top: 21px;
  right: 27px;

  @media (min-width: $tablet-width) {
    top: 30px;
    right: 36px;
  }
}
