.user-form {
  overflow: hidden;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.user-form__wrapper {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 5px 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    margin: 0 auto;
    padding: 5px 175px 0 61px;
    box-sizing: border-box;
  }
}

.user-form__item {
  margin-bottom: 35px;

  &:nth-last-child(2) {
    margin-bottom: 13px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 167px auto;
    align-items: baseline;

    &:nth-last-child(2) {
      margin-bottom: 54px;
    }

    &:last-child {
      margin-bottom: 0;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 700px;

    &:nth-last-child(2) {
      margin-bottom: 50px;
    }

    &:last-child {
      display: flex;
      width: 700px;
      margin-left: auto;
    }
  }
}

.user-form__list-name {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-form__item-name {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
  }
}

.user-form__list-contacts {
  margin-bottom: 34.5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding: 46px 0 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: $white-smoke;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: $white-smoke;
      width: 100vw;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.user-form__item-contacts {
  margin-bottom: 34.5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 167px auto;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 700px;
  }
}

.user-form__title-name,
.user-form__title-contacts,
.user-form__title-textarea {
  @include user-form-title ();

  margin-bottom: 29px;

  &::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: $downy-2;
    margin-left: 9%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }
}

.user-form__title-contacts {
  margin-bottom: 4.5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.user-form__title-textarea {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.user-form__label {
  display: block;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    @include fonts-tablet (19px, 18px);
    margin-bottom: 0;
    padding-right: 25px;
  }
}

.user-form__input,
.user-form__input-contacts {
  @include user-form-input ();
  border-bottom: 2px solid $black;
  padding-top: 17px;
  padding-bottom: 15px;
  color: $goshawk-grey;

  &:hover,
  &:focus:focus-visible {
    border-color: $downy-2;
    outline: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 17px;
    padding-top: 13px;

    @include fonts-tablet (19px, 18px);
  }
}

.user-form__input-contacts {
  &:hover + .user-form__icon-phone,
  &:focus + .user-form__icon-phone,
  &:hover + .user-form__icon-email,
  &:focus + .user-form__icon-email {
    fill: $downy-2;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    background-color: $white-smoke;
    padding: 14px 0 12px 17px;
  }
}

.user-form__container {
  position: relative;
}

.user-form__icon-phone {
  position: absolute;
  top: -2px;
  right: 7px;

  @media (min-width: $tablet-width) {
    top: 17px;
    right: 26px;
  }

  @media (min-width: $desktop-width) {
    right: 8px;
  }
}

.user-form__icon-email {
  position: absolute;
  top: 3px;
  right: 3px;

  @media (min-width: $tablet-width) {
    top: 20px;
    right: 21px;
  }

  @media (min-width: $desktop-width) {
    right: 4px;
  }
}

.user-form__textarea {
  font: inherit;
  list-style: none;
  width: 100%;
  height: 142px;
  box-sizing: border-box;
  border: 2px solid $goshawk-grey;
  color: $black;
  resize: none;
  padding: 17px 17px 0;

  &::placeholder {
    font-family: inherit;
    color: $black;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: $downy-2;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    @include fonts-tablet (19px, 18px);
  }
}

.user-form__legend {
  display: block;
  padding: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: inherit;
    margin-bottom: 0;
    order: 1;
    justify-self: end;
    align-self: center;
  }
}

.user-form__button {
  width: 100%;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    min-width: 230px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 230px;
    margin-right: auto;
  }
}
