.video {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 107px;
  }
}

.video__wrapper {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  outline: 1px solid $whisper;
  padding: 22px 34px 33px 34px;

  &:hover {
    box-shadow: 0 6px 10px rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($black, 0.1);
  }

  @media (min-width: $tablet-width) {
    margin: 0 50px;
    padding: 0 42px 46px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 96px 57px 60px 0;
    display: grid;
    grid-template:
      "video title"
      "video text"
      "video button"
      / 683px auto;
    column-gap: 80px;
    overflow: hidden;
  }
}

.video__title {
  @include fonts-mobile ();
  padding-left: 57px;
  margin-bottom: 26.5px;
  box-sizing: border-box;
  width: 156px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/video.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 22px;
    left: 0;
    top: 13px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 24.5px;
    padding-left: 65px;
    width: 100%;

    &::before {
      top: 0;
    }
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    padding: 0;
    margin-bottom: 27.5px;

    &::before {
      top: -50px;
    }
  }
}

.video__text {
  @include fonts-mobile (13px, 24px);
  min-width: 198px;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    @include fonts-tablet (15px, 30px);
    max-width: 584px;
  }

  @media (min-width: $desktop-width) {
    grid-area: text;
    margin-bottom: 51px;
  }
}

.video__process-container {
  position: relative;
  width: calc(100% + (34px + 1px) * 2);
  margin-left: calc((34px + 1px) * -1);
  background-color: $white-smoke;
  margin-bottom: 35px;
  height: 150px;

  @media (min-width: $tablet-width) {
    width: calc(100% + (42px + 1px) * 2);
    margin-left: calc((42px + 1px) * -1);
    margin-bottom: 41px;
    height: 455px;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    grid-area: video;
    width: 100%;
    height: calc(100% + 96px + 60px);
    margin: 0;
    margin-top: -96px;
  }
}

.video__process {
  width: 260px;
  height: 100%;
  display: block;
  margin: 0 auto;

  &[poster] {
    background-image: url("../img/video-mobile.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-mobile@2x.jpg");
      background-size: contain;
    }
  }

  @media (min-width: $tablet-width) {
    width: 668px;

    &[poster] {
      background-image: url("../img/video-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/video-tablet@2x.jpg");
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;

    &[poster] {
      background-image: url("../img/video-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/video-desktop@2x.jpg");
      }
    }
  }
}

.video__play-button {
  content: "";
  position: absolute;
  top: calc(50% - 38.5px);
  left: calc(50% - 50.5px);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s linear;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.3;
    transform: scale(0.8);
  }

  &:focus-visible {
    outline: auto;
    outline-offset: 3px;
  }
}

.video__button {
  @include fonts-mobile (18px, 16px);
  padding: 16px;

  @media (min-width: $tablet-width) {
    font-size: inherit;
  }

  @media (min-width: $desktop-width) {
    grid-area: button;
    align-self: flex-end;
  }
}
