.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.page-body {
  min-height: 100%;
  min-width: 320px;
  color: $goshawk-grey;
  background-color: $white;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  display: block;
  box-sizing: border-box;
  padding: 14px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $goshawk-grey;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 2px solid $goshawk-grey;
  cursor: pointer;
  background-color: $white;
  outline: none;

  &:hover {
    background: linear-gradient(0deg, $goshawk-grey, $goshawk-grey);
    color: $white;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &:focus-visible {
    outline: auto;
    outline-offset: 3px;
  }
}

.title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
  margin: 0;
}
